<ion-header>
  <ion-navbar>
    <ion-title>Digital Time Card</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--Display current date-->
  <h1>{{month}} {{day}}</h1>

  <!--Clock in/clock out buttons-->
  <button ion-button large block color="secondary" [disabled]="working" (click)="clockIn()">Clock In</button>
  <p *ngIf="on">You clocked in at: {{clockInTime}}</p>

  <button ion-button large block color="danger" [disabled]="!working" (click)="clockOut()">Clock Out</button>
  <p *ngIf="off">You clocked in at: {{clockOutTime}}</p>
  <p *ngIf="off">You worked for: {{hoursWorked}} hours</p>
</ion-content>
